body {
    background-color:rgb(253, 237, 238);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(66, 66, 66);
    font-size: large;
    line-height: normal;
}

h1, h2, h3 {
    color: rgb(36, 35, 35);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: normal;
    line-height: 25px;
}
ul {
    padding: 0;
}
.link {
    color: rgb(131, 1, 1);
    text-decoration: rgb(161, 9, 9);
}

.link:hover {
    text-decoration: underline;
    color: rgb(66, 66, 66);
}

.image-circle {
    border-radius: 100px;
    width: 200px;
    height: 200px;
}

.container {
    width: 700px;
    margin: 40px auto;
}

.card {
    background-color: white;
    padding: 40px;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin: 20px 0px;
    text-align: center;

}

.list-inline > li {
    display: inline-block;
    list-style: none;
    padding: 0px 10px;
    font-size: 50px;
    margin: none;
    
}

.btn {
    background-color: rgb(131, 1, 1);
    color: white;
    padding: 15px 20px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}
.btn:hover {
    background-color: rgb(66, 66, 66);
}
.color {
    color: rgb(131, 1, 1);
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}